body, html {
		top:0;
		left:0;
		margin:0;
		font-family:'Helvetica Neue', sans-serif;
	}

nav	{
		font-family: 'DM Sans', sans-serif;
		background-color:white;
		position:fixed;
		width:100%;
		display:flex;
		justify-content: center;
		align-items:center;
		z-index:100;
	}

.title {
		font-family: 'DM Sans', sans-serif;
		height:50vh;
		color:white;
		background-color:#d48600;
/*		background-image:url('https://i.pinimg.com/originals/7f/43/1c/7f431c9e6991b1a83d79e359dc09c99d.gif');*/
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: left top;
		background-size: auto 100%;
	}

a {
	text-decoration: underline;
	color: green;
}

.title h1 {
		font-size:5em;
	}

.title h2 {
		font-size:1em;
		font-weight:400;
	}
	.header {
		text-align:center;
		display:flex;
		justify-content:center;
		align-items:center;
		padding:5% 0%;
		animation: fadeIn 0.5s ease-in-out;
	}
	.header h1{
		font-family: 'DM Sans', sans-serif;
		font-weight:800;
		margin:0;
	}
	.header h2 {
		font-family: 'DM Sans', sans-serif;

		margin:0;
	}
	.sticky {
		float:right;
		top:25%;
		position:sticky;
		width:50%;
		display:inline-flex;
		background-color:white;
	}
	.leftside{
		background-color:black;
		color:white;
		width: 30%;
    	padding: 5% 10% 5% 5%;
	}
	.progressive{
		width:100%;
		display:block;
		margin-bottom:100%!important;
	}
	.end {
		margin-bottom:5%!important;
	}
	#counter {
		width:100%;
		font-size:10em;
		text-align:center;
		margin:0;
		padding:0%;
		line-height:1em;
		font-weight: 800;
    	letter-spacing: -0.05em;
	}
	#counter h2{
		text-align:center;
	}
	.text {
		font-family: 'DM Sans', sans-serif;
		margin:5%;
		line-height:2em;
		opacity:0;
		margin-top:10%;
		transition:0.5s ease-in-out;
	}
	.text h1 {
		font-family: 'DM Sans', sans-serif;
		font-size:4em;
		letter-spacing:-0.05em;
		line-height:1em;
		font-weight:900;
		width:60%;
	}
	.text h2 {
	font-family: 'DM Sans', sans-serif;

		font-weight:400;
		font-size:1em;
		font-style:italic;
	}
	.sticky h1 {
		width:100%;
		font-size:3em;
	}
	.sticky h2 {
		font-size:0.8em;
		text-transform:uppercase;
		letter-spacing:0.1em;
	}
	.center_aligner {
		overflow:none;
		width:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		margin:2% 0%;
	}
	iframe {
		border:0.1em solid black;
		width:90%; 
		height: 700px;
	}
	.tableauPlaceholder{
		width:50%;
		z-index:0;
	}
	img{
		text-align:center;
		margin:0%;
		display:inline-block;
		border:0.5em solid black;
	}
	.caption {
		font-size:0.8em;
		color:#666666;
	}
	.small {
		width:30%;
	}
	.large {
		width:80%;
		display:block;
	}
	@keyframes fadeIn {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
	}
	@media screen and (max-width:767px){
		.sticky {
	/*		bottom:0;*/
			width:50%;
			float:none;
			margin:auto;
			display:flex;
			line-height:2em;
		}
		.sticky h1 {
			font-size:2em;
			line-height:2em;
		}
		.sticky h2 {
			font-size:0.5em;
		}
		#counter {
			font-size:5em;
		}
		.leftside {
			width: 85%;
    		padding: 5% 10% 5% 5%;
		}
		.small {
			width:80%;
		}
		.title {
			height:80vh;
		}
		.text h1 {
			font-size:2.5em;
			width:80%;
		}
		.text {
			margin:10% 5%;
		}
		iframe {
			height:300px;
		}

	}
